/* Cuadrito del armario que recorta la hoja de sprites automáticamente */
.cuadrito-item {
    background-image: url('assets/avatar_sheet.jpg');
    background-size: 1100% 1000%; /* Escala la cuadrícula para ajustar las filas */
    width: 80px;
    height: 80px;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.1s ease;
    border: 2px solid transparent;
}

.cuadrito-item:active {
    transform: scale(0.92);
}

/* Posiciones exactas de ejemplo para recortar cada carita de la foto */
.carita-1 { background-position: 0% 0%; }
.carita-2 { background-position: 10% 0%; }
.carita-3 { background-position: 20% 0%; }
.carita-4 { background-position: 30% 0%; }
.carita-5 { background-position: 0% 70%; }  /* Peinado castaño */
.carita-6 { background-position: 10% 70%; } /* Peinado rubio */
.carita-7 { background-position: 50% 80%; } /* Peinado azul con lentes */
